<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>呼和浩特</key>
<string>101080101</string>
<key>土左旗</key>
<string>101080102</string>
<key>托县</key>
<string>101080103</string>
<key>和林</key>
<string>101080104</string>
<key>清水河</key>
<string>101080105</string>
<key>呼市郊区</key>
<string>101080106</string>
<key>武川</key>
<string>101080107</string>
<key>包头</key>
<string>101080201</string>
<key>白云鄂博</key>
<string>101080202</string>
<key>满都拉</key>
<string>101080203</string>
<key>土右旗</key>
<string>101080204</string>
<key>固阳</key>
<string>101080205</string>
<key>达茂旗</key>
<string>101080206</string>
<key>希拉穆仁</key>
<string>101080207</string>
<key>乌海</key>
<string>101080301</string>
<key>集宁</key>
<string>101080401</string>
<key>卓资</key>
<string>101080402</string>
<key>化德</key>
<string>101080403</string>
<key>商都</key>
<string>101080404</string>
<key>兴和</key>
<string>101080406</string>
<key>凉城</key>
<string>101080407</string>
<key>察右前旗</key>
<string>101080408</string>
<key>察右中旗</key>
<string>101080409</string>
<key>察右后旗</key>
<string>101080410</string>
<key>四子王旗</key>
<string>101080411</string>
<key>丰镇</key>
<string>101080412</string>
<key>通辽</key>
<string>101080501</string>
<key>舍伯吐</key>
<string>101080502</string>
<key>科左中旗</key>
<string>101080503</string>
<key>科左后旗</key>
<string>101080504</string>
<key>青龙山</key>
<string>101080505</string>
<key>开鲁</key>
<string>101080506</string>
<key>库伦</key>
<string>101080507</string>
<key>奈曼</key>
<string>101080508</string>
<key>扎鲁特</key>
<string>101080509</string>
<key>高力板</key>
<string>101080510</string>
<key>巴雅尔吐胡硕</key>
<string>101080511</string>
<key>赤峰</key>
<string>101080601</string>
<key>阿鲁旗</key>
<string>101080603</string>
<key>浩尔吐</key>
<string>101080604</string>
<key>巴林左旗</key>
<string>101080605</string>
<key>巴林右旗</key>
<string>101080606</string>
<key>林西</key>
<string>101080607</string>
<key>克什克腾</key>
<string>101080608</string>
<key>翁牛特</key>
<string>101080609</string>
<key>岗子</key>
<string>101080610</string>
<key>喀喇沁</key>
<string>101080611</string>
<key>八里罕</key>
<string>101080612</string>
<key>宁城</key>
<string>101080613</string>
<key>敖汉</key>
<string>101080614</string>
<key>宝国吐</key>
<string>101080615</string>
<key>鄂尔多斯</key>
<string>101080701</string>
<key>达拉特</key>
<string>101080703</string>
<key>准格尔</key>
<string>101080704</string>
<key>鄂前旗</key>
<string>101080705</string>
<key>河南</key>
<string>101080706</string>
<key>伊克乌素</key>
<string>101080707</string>
<key>鄂托克</key>
<string>101080708</string>
<key>杭锦旗</key>
<string>101080709</string>
<key>乌审旗</key>
<string>101080710</string>
<key>伊金霍洛</key>
<string>101080711</string>
<key>乌审召</key>
<string>101080712</string>
<key>东胜</key>
<string>101080713</string>
<key>临河</key>
<string>101080801</string>
<key>五原</key>
<string>101080802</string>
<key>磴口</key>
<string>101080803</string>
<key>乌前旗</key>
<string>101080804</string>
<key>大佘太</key>
<string>101080805</string>
<key>乌中旗</key>
<string>101080806</string>
<key>乌后旗</key>
<string>101080807</string>
<key>海力素</key>
<string>101080808</string>
<key>那仁宝力格</key>
<string>101080809</string>
<key>杭锦后旗</key>
<string>101080810</string>
<key>锡林浩特</key>
<string>101080901</string>
<key>二连浩特</key>
<string>101080903</string>
<key>阿巴嘎</key>
<string>101080904</string>
<key>苏左旗</key>
<string>101080906</string>
<key>苏右旗</key>
<string>101080907</string>
<key>朱日和</key>
<string>101080908</string>
<key>东乌旗</key>
<string>101080909</string>
<key>西乌旗</key>
<string>101080910</string>
<key>太仆寺</key>
<string>101080911</string>
<key>镶黄旗</key>
<string>101080912</string>
<key>正镶白旗</key>
<string>101080913</string>
<key>正蓝旗</key>
<string>101080914</string>
<key>多伦</key>
<string>101080915</string>
<key>博克图</key>
<string>101080916</string>
<key>乌拉盖</key>
<string>101080917</string>
<key>海拉尔</key>
<string>101081001</string>
<key>小二沟</key>
<string>101081002</string>
<key>阿荣旗</key>
<string>101081003</string>
<key>莫力达瓦</key>
<string>101081004</string>
<key>鄂伦春旗</key>
<string>101081005</string>
<key>鄂温克旗</key>
<string>101081006</string>
<key>陈旗</key>
<string>101081007</string>
<key>新左旗</key>
<string>101081008</string>
<key>新右旗</key>
<string>101081009</string>
<key>满洲里</key>
<string>101081010</string>
<key>牙克石</key>
<string>101081011</string>
<key>扎兰屯</key>
<string>101081012</string>
<key>额尔古纳</key>
<string>101081014</string>
<key>根河</key>
<string>101081015</string>
<key>图里河</key>
<string>101081016</string>
<key>乌兰浩特</key>
<string>101081101</string>
<key>阿尔山</key>
<string>101081102</string>
<key>科右中旗</key>
<string>101081103</string>
<key>胡尔勒</key>
<string>101081104</string>
<key>扎赉特</key>
<string>101081105</string>
<key>索伦</key>
<string>101081106</string>
<key>突泉</key>
<string>101081107</string>
<key>霍林郭勒</key>
<string>101081108</string>
<key>科右前旗</key>
<string>101081109</string>
<key>阿左旗</key>
<string>101081201</string>
<key>阿右旗</key>
<string>101081202</string>
<key>额济纳</key>
<string>101081203</string>
<key>拐子湖</key>
<string>101081204</string>
<key>吉兰太</key>
<string>101081205</string>
<key>锡林高勒</key>
<string>101081206</string>
<key>头道湖</key>
<string>101081207</string>
<key>中泉子</key>
<string>101081208</string>
<key>诺尔公</key>
<string>101081209</string>
<key>雅布赖</key>
<string>101081210</string>
<key>乌斯泰</key>
<string>101081211</string>
<key>孪井滩</key>
<string>101081212</string>
<key>南宁</key>
<string>101300101</string>
<key>邕宁</key>
<string>101300103</string>
<key>横县</key>
<string>101300104</string>
<key>隆安</key>
<string>101300105</string>
<key>马山</key>
<string>101300106</string>
<key>上林</key>
<string>101300107</string>
<key>武鸣</key>
<string>101300108</string>
<key>宾阳</key>
<string>101300109</string>
<key>崇左</key>
<string>101300201</string>
<key>天等</key>
<string>101300202</string>
<key>龙州</key>
<string>101300203</string>
<key>凭祥</key>
<string>101300204</string>
<key>大新</key>
<string>101300205</string>
<key>扶绥</key>
<string>101300206</string>
<key>宁明</key>
<string>101300207</string>
<key>柳州</key>
<string>101300301</string>
<key>柳城</key>
<string>101300302</string>
<key>鹿寨</key>
<string>101300304</string>
<key>柳江</key>
<string>101300305</string>
<key>融安</key>
<string>101300306</string>
<key>融水</key>
<string>101300307</string>
<key>三江</key>
<string>101300308</string>
<key>来宾</key>
<string>101300401</string>
<key>忻城</key>
<string>101300402</string>
<key>金秀</key>
<string>101300403</string>
<key>象州</key>
<string>101300404</string>
<key>武宣</key>
<string>101300405</string>
<key>合山</key>
<string>101300406</string>
<key>桂林</key>
<string>101300501</string>
<key>龙胜</key>
<string>101300503</string>
<key>永福</key>
<string>101300504</string>
<key>临桂</key>
<string>101300505</string>
<key>兴安</key>
<string>101300506</string>
<key>灵川</key>
<string>101300507</string>
<key>全州</key>
<string>101300508</string>
<key>灌阳</key>
<string>101300509</string>
<key>阳朔</key>
<string>101300510</string>
<key>恭城</key>
<string>101300511</string>
<key>平乐</key>
<string>101300512</string>
<key>荔浦</key>
<string>101300513</string>
<key>资源</key>
<string>101300514</string>
<key>梧州</key>
<string>101300601</string>
<key>藤县</key>
<string>101300602</string>
<key>苍梧</key>
<string>101300604</string>
<key>蒙山</key>
<string>101300605</string>
<key>岑溪</key>
<string>101300606</string>
<key>贺州</key>
<string>101300701</string>
<key>昭平</key>
<string>101300702</string>
<key>富川</key>
<string>101300703</string>
<key>钟山</key>
<string>101300704</string>
<key>贵港</key>
<string>101300801</string>
<key>桂平</key>
<string>101300802</string>
<key>平南</key>
<string>101300803</string>
<key>玉林</key>
<string>101300901</string>
<key>博白</key>
<string>101300902</string>
<key>北流</key>
<string>101300903</string>
<key>容县</key>
<string>101300904</string>
<key>陆川</key>
<string>101300905</string>
<key>兴业</key>
<string>101300906</string>
<key>百色</key>
<string>101301001</string>
<key>那坡</key>
<string>101301002</string>
<key>田阳</key>
<string>101301003</string>
<key>德保</key>
<string>101301004</string>
<key>靖西</key>
<string>101301005</string>
<key>田东</key>
<string>101301006</string>
<key>平果</key>
<string>101301007</string>
<key>隆林</key>
<string>101301008</string>
<key>西林</key>
<string>101301009</string>
<key>乐业</key>
<string>101301010</string>
<key>凌云</key>
<string>101301011</string>
<key>田林</key>
<string>101301012</string>
<key>钦州</key>
<string>101301101</string>
<key>浦北</key>
<string>101301102</string>
<key>灵山</key>
<string>101301103</string>
<key>河池</key>
<string>101301201</string>
<key>天峨</key>
<string>101301202</string>
<key>东兰</key>
<string>101301203</string>
<key>巴马</key>
<string>101301204</string>
<key>环江</key>
<string>101301205</string>
<key>罗城</key>
<string>101301206</string>
<key>宜州</key>
<string>101301207</string>
<key>凤山</key>
<string>101301208</string>
<key>南丹</key>
<string>101301209</string>
<key>都安</key>
<string>101301210</string>
<key>大化</key>
<string>101301211</string>
<key>北海</key>
<string>101301301</string>
<key>合浦</key>
<string>101301302</string>
<key>涠洲岛</key>
<string>101301303</string>
<key>防城港</key>
<string>101301401</string>
<key>上思</key>
<string>101301402</string>
<key>东兴</key>
<string>101301403</string>
<key>防城</key>
<string>101301405</string>
<key>乌鲁木齐</key>
<string>101130101</string>
<key>小渠子</key>
<string>101130103</string>
<key>达坂城</key>
<string>101130105</string>
<key>乌鲁木齐牧试站</key>
<string>101130108</string>
<key>天池</key>
<string>101130109</string>
<key>白杨沟</key>
<string>101130110</string>
<key>克拉玛依</key>
<string>101130201</string>
<key>乌尔禾</key>
<string>101130202</string>
<key>白碱滩</key>
<string>101130203</string>
<key>石河子</key>
<string>101130301</string>
<key>炮台</key>
<string>101130302</string>
<key>莫索湾</key>
<string>101130303</string>
<key>昌吉</key>
<string>101130401</string>
<key>呼图壁</key>
<string>101130402</string>
<key>米泉</key>
<string>101130403</string>
<key>阜康</key>
<string>101130404</string>
<key>吉木萨尔</key>
<string>101130405</string>
<key>奇台</key>
<string>101130406</string>
<key>玛纳斯</key>
<string>101130407</string>
<key>木垒</key>
<string>101130408</string>
<key>蔡家湖</key>
<string>101130409</string>
<key>吐鲁番</key>
<string>101130501</string>
<key>托克逊</key>
<string>101130502</string>
<key>鄯善</key>
<string>101130504</string>
<key>库尔勒</key>
<string>101130601</string>
<key>轮台</key>
<string>101130602</string>
<key>尉犁</key>
<string>101130603</string>
<key>若羌</key>
<string>101130604</string>
<key>且末</key>
<string>101130605</string>
<key>和静</key>
<string>101130606</string>
<key>焉耆</key>
<string>101130607</string>
<key>和硕</key>
<string>101130608</string>
<key>巴音布鲁克</key>
<string>101130610</string>
<key>铁干里克</key>
<string>101130611</string>
<key>博湖</key>
<string>101130612</string>
<key>塔中</key>
<string>101130613</string>
<key>巴仑台</key>
<string>101130614</string>
<key>阿拉尔</key>
<string>101130701</string>
<key>阿克苏</key>
<string>101130801</string>
<key>乌什</key>
<string>101130802</string>
<key>温宿</key>
<string>101130803</string>
<key>拜城</key>
<string>101130804</string>
<key>新和</key>
<string>101130805</string>
<key>沙雅</key>
<string>101130806</string>
<key>库车</key>
<string>101130807</string>
<key>柯坪</key>
<string>101130808</string>
<key>阿瓦提</key>
<string>101130809</string>
<key>喀什</key>
<string>101130901</string>
<key>英吉沙</key>
<string>101130902</string>
<key>塔什库尔干</key>
<string>101130903</string>
<key>麦盖提</key>
<string>101130904</string>
<key>莎车</key>
<string>101130905</string>
<key>叶城</key>
<string>101130906</string>
<key>泽普</key>
<string>101130907</string>
<key>巴楚</key>
<string>101130908</string>
<key>岳普湖</key>
<string>101130909</string>
<key>伽师</key>
<string>101130910</string>
<key>疏附</key>
<string>101130911</string>
<key>疏勒</key>
<string>101130912</string>
<key>伊宁</key>
<string>101131001</string>
<key>察布查尔</key>
<string>101131002</string>
<key>尼勒克</key>
<string>101131003</string>
<key>伊宁县</key>
<string>101131004</string>
<key>巩留</key>
<string>101131005</string>
<key>新源</key>
<string>101131006</string>
<key>昭苏</key>
<string>101131007</string>
<key>特克斯</key>
<string>101131008</string>
<key>霍城</key>
<string>101131009</string>
<key>霍尔果斯</key>
<string>101131010</string>
<key>奎屯</key>
<string>101131011</string>
<key>塔城</key>
<string>101131101</string>
<key>裕民</key>
<string>101131102</string>
<key>额敏</key>
<string>101131103</string>
<key>和布克赛尔</key>
<string>101131104</string>
<key>托里</key>
<string>101131105</string>
<key>乌苏</key>
<string>101131106</string>
<key>沙湾</key>
<string>101131107</string>
<key>哈密</key>
<string>101131201</string>
<key>巴里坤</key>
<string>101131203</string>
<key>伊吾</key>
<string>101131204</string>
<key>和田</key>
<string>101131301</string>
<key>皮山</key>
<string>101131302</string>
<key>策勒</key>
<string>101131303</string>
<key>墨玉</key>
<string>101131304</string>
<key>洛浦</key>
<string>101131305</string>
<key>民丰</key>
<string>101131306</string>
<key>于田</key>
<string>101131307</string>
<key>阿勒泰</key>
<string>101131401</string>
<key>哈巴河</key>
<string>101131402</string>
<key>吉木乃</key>
<string>101131405</string>
<key>布尔津</key>
<string>101131406</string>
<key>福海</key>
<string>101131407</string>
<key>富蕴</key>
<string>101131408</string>
<key>青河</key>
<string>101131409</string>
<key>阿图什</key>
<string>101131501</string>
<key>乌恰</key>
<string>101131502</string>
<key>阿克陶</key>
<string>101131503</string>
<key>阿合奇</key>
<string>101131504</string>
<key>博乐</key>
<string>101131601</string>
<key>温泉</key>
<string>101131602</string>
<key>精河</key>
<string>101131603</string>
<key>阿拉山口</key>
<string>101131606</string>
<key>银川</key>
<string>101170101</string>
<key>永宁</key>
<string>101170102</string>
<key>灵武</key>
<string>101170103</string>
<key>贺兰</key>
<string>101170104</string>
<key>石嘴山</key>
<string>101170201</string>
<key>惠农</key>
<string>101170202</string>
<key>平罗</key>
<string>101170203</string>
<key>陶乐</key>
<string>101170204</string>
<key>吴忠</key>
<string>101170301</string>
<key>同心</key>
<string>101170302</string>
<key>盐池</key>
<string>101170303</string>
<key>青铜峡</key>
<string>101170306</string>
<key>固原</key>
<string>101170401</string>
<key>西吉</key>
<string>101170402</string>
<key>隆德</key>
<string>101170403</string>
<key>泾源</key>
<string>101170404</string>
<key>彭阳</key>
<string>101170406</string>
<key>中卫</key>
<string>101170501</string>
<key>中宁</key>
<string>101170502</string>
<key>海原</key>
<string>101170504</string>
<key>拉萨</key>
<string>101140101</string>
<key>当雄</key>
<string>101140102</string>
<key>尼木</key>
<string>101140103</string>
<key>林周</key>
<string>101140104</string>
<key>堆龙德庆</key>
<string>101140105</string>
<key>曲水</key>
<string>101140106</string>
<key>达孜</key>
<string>101140107</string>
<key>墨竹工卡</key>
<string>101140108</string>
<key>日喀则</key>
<string>101140201</string>
<key>拉孜</key>
<string>101140202</string>
<key>南木林</key>
<string>101140203</string>
<key>聂拉木</key>
<string>101140204</string>
<key>定日</key>
<string>101140205</string>
<key>江孜</key>
<string>101140206</string>
<key>帕里</key>
<string>101140207</string>
<key>仲巴</key>
<string>101140208</string>
<key>萨嘎</key>
<string>101140209</string>
<key>吉隆</key>
<string>101140210</string>
<key>昂仁</key>
<string>101140211</string>
<key>定结</key>
<string>101140212</string>
<key>萨迦</key>
<string>101140213</string>
<key>谢通门</key>
<string>101140214</string>
<key>岗巴</key>
<string>101140216</string>
<key>白朗</key>
<string>101140217</string>
<key>亚东</key>
<string>101140218</string>
<key>康马</key>
<string>101140219</string>
<key>仁布</key>
<string>101140220</string>
<key>山南</key>
<string>101140301</string>
<key>贡嘎</key>
<string>101140302</string>
<key>札囊</key>
<string>101140303</string>
<key>加查</key>
<string>101140304</string>
<key>浪卡子</key>
<string>101140305</string>
<key>错那</key>
<string>101140306</string>
<key>隆子</key>
<string>101140307</string>
<key>泽当</key>
<string>101140308</string>
<key>乃东</key>
<string>101140309</string>
<key>桑日</key>
<string>101140310</string>
<key>洛扎</key>
<string>101140311</string>
<key>措美</key>
<string>101140312</string>
<key>琼结</key>
<string>101140313</string>
<key>曲松</key>
<string>101140314</string>
<key>林芝</key>
<string>101140401</string>
<key>波密</key>
<string>101140402</string>
<key>米林</key>
<string>101140403</string>
<key>察隅</key>
<string>101140404</string>
<key>工布江达</key>
<string>101140405</string>
<key>朗县</key>
<string>101140406</string>
<key>墨脱</key>
<string>101140407</string>
<key>昌都</key>
<string>101140501</string>
<key>丁青</key>
<string>101140502</string>
<key>边坝</key>
<string>101140503</string>
<key>洛隆</key>
<string>101140504</string>
<key>左贡</key>
<string>101140505</string>
<key>芒康</key>
<string>101140506</string>
<key>类乌齐</key>
<string>101140507</string>
<key>八宿</key>
<string>101140508</string>
<key>江达</key>
<string>101140509</string>
<key>察雅</key>
<string>101140510</string>
<key>贡觉</key>
<string>101140511</string>
<key>那曲</key>
<string>101140601</string>
<key>尼玛</key>
<string>101140602</string>
<key>嘉黎</key>
<string>101140603</string>
<key>班戈</key>
<string>101140604</string>
<key>安多</key>
<string>101140605</string>
<key>索县</key>
<string>101140606</string>
<key>聂荣</key>
<string>101140607</string>
<key>巴青</key>
<string>101140608</string>
<key>比如</key>
<string>101140609</string>
<key>双湖</key>
<string>101140610</string>
<key>阿里</key>
<string>101140701</string>
<key>改则</key>
<string>101140702</string>
<key>申扎</key>
<string>101140703</string>
<key>狮泉河</key>
<string>101140704</string>
<key>普兰</key>
<string>101140705</string>
<key>札达</key>
<string>101140706</string>
<key>噶尔</key>
<string>101140707</string>
<key>日土</key>
<string>101140708</string>
<key>革吉</key>
<string>101140709</string>
<key>措勤</key>
<string>101140710</string>
</dict>
</plist>
