<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>北京</key>
<string>101010100</string>
<key>海淀</key>
<string>101010200</string>
<key>朝阳</key>
<string>101010300</string>
<key>顺义</key>
<string>101010400</string>
<key>怀柔</key>
<string>101010500</string>
<key>通州</key>
<string>101010600</string>
<key>昌平</key>
<string>101010700</string>
<key>延庆</key>
<string>101010800</string>
<key>丰台</key>
<string>101010900</string>
<key>石景山</key>
<string>101011000</string>
<key>大兴</key>
<string>101011100</string>
<key>房山</key>
<string>101011200</string>
<key>密云</key>
<string>101011300</string>
<key>门头沟</key>
<string>101011400</string>
<key>平谷</key>
<string>101011500</string>
<key>上海</key>
<string>101020100</string>
<key>闵行</key>
<string>101020200</string>
<key>宝山</key>
<string>101020300</string>
<key>嘉定</key>
<string>101020500</string>
<key>浦东南汇</key>
<string>101020600</string>
<key>金山</key>
<string>101020700</string>
<key>青浦</key>
<string>101020800</string>
<key>松江</key>
<string>101020900</string>
<key>奉贤</key>
<string>101021000</string>
<key>崇明</key>
<string>101021100</string>
<key>徐家汇</key>
<string>101021200</string>
<key>浦东</key>
<string>101021300</string>
<key>天津</key>
<string>101030100</string>
<key>武清</key>
<string>101030200</string>
<key>宝坻</key>
<string>101030300</string>
<key>东丽</key>
<string>101030400</string>
<key>西青</key>
<string>101030500</string>
<key>北辰</key>
<string>101030600</string>
<key>宁河</key>
<string>101030700</string>
<key>汉沽</key>
<string>101030800</string>
<key>静海</key>
<string>101030900</string>
<key>津南</key>
<string>101031000</string>
<key>塘沽</key>
<string>101031100</string>
<key>大港</key>
<string>101031200</string>
<key>蓟县</key>
<string>101031400</string>
<key>重庆</key>
<string>101040100</string>
<key>永川</key>
<string>101040200</string>
<key>合川</key>
<string>101040300</string>
<key>南川</key>
<string>101040400</string>
<key>江津</key>
<string>101040500</string>
<key>万盛</key>
<string>101040600</string>
<key>渝北</key>
<string>101040700</string>
<key>北碚</key>
<string>101040800</string>
<key>巴南</key>
<string>101040900</string>
<key>长寿</key>
<string>101041000</string>
<key>黔江</key>
<string>101041100</string>
<key>万州</key>
<string>101041300</string>
<key>涪陵</key>
<string>101041400</string>
<key>开县</key>
<string>101041500</string>
<key>城口</key>
<string>101041600</string>
<key>云阳</key>
<string>101041700</string>
<key>巫溪</key>
<string>101041800</string>
<key>奉节</key>
<string>101041900</string>
<key>巫山</key>
<string>101042000</string>
<key>潼南</key>
<string>101042100</string>
<key>垫江</key>
<string>101042200</string>
<key>梁平</key>
<string>101042300</string>
<key>忠县</key>
<string>101042400</string>
<key>石柱</key>
<string>101042500</string>
<key>大足</key>
<string>101042600</string>
<key>荣昌</key>
<string>101042700</string>
<key>铜梁</key>
<string>101042800</string>
<key>璧山</key>
<string>101042900</string>
<key>丰都</key>
<string>101043000</string>
<key>武隆</key>
<string>101043100</string>
<key>彭水</key>
<string>101043200</string>
<key>綦江</key>
<string>101043300</string>
<key>酉阳</key>
<string>101043400</string>
<key>秀山</key>
<string>101043600</string>
</dict>
</plist>
