<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>北京市</key>
	<string>101010100</string>
	<key>广州市</key>
	<string>101280101</string>
	<key>深圳市</key>
	<string>101280601</string>
	<key>汕头市</key>
	<string>101280501</string>
	<key>惠州市</key>
	<string>101280301</string>
	<key>珠海市</key>
	<string>101280701</string>
	<key>揭阳市</key>
	<string>101281901</string>
	<key>佛山市</key>
	<string>101280800</string>
	<key>河源市</key>
	<string>101281201</string>
	<key>阳江市</key>
	<string>101281801</string>
	<key>茂名市</key>
	<string>101282001</string>
	<key>湛江市</key>
	<string>101281001</string>
	<key>梅州市</key>
	<string>101280401</string>
	<key>肇庆市</key>
	<string>101280901</string>
	<key>韶关市</key>
	<string>101280201</string>
	<key>潮州市</key>
	<string>101281501</string>
	<key>东莞市</key>
	<string>101281601</string>
	<key>中山市</key>
	<string>101281701</string>
	<key>清远市</key>
	<string>101281301</string>
	<key>江门市</key>
	<string>101281101</string>
	<key>汕尾市</key>
	<string>101282101</string>
	<key>云浮市</key>
	<string>101281401</string>
	<key>增城市</key>
	<string>101280104</string>
	<key>从化市</key>
	<string>101280103</string>
	<key>乐昌市</key>
	<string>101280205</string>
	<key>南雄市</key>
	<string>101280207</string>
	<key>台山市</key>
	<string>101281106</string>
	<key>开平市</key>
	<string>101281103</string>
	<key>鹤山市</key>
	<string>101281108</string>
	<key>恩平市</key>
	<string>101281105</string>
	<key>廉江市</key>
	<string>101281005</string>
	<key>雷州市</key>
	<string>101281003</string>
	<key>吴川市</key>
	<string>101281002</string>
	<key>高州市</key>
	<string>101282002</string>
	<key>化州市</key>
	<string>101282003</string>
	<key>高要市</key>
	<string>101280908</string>
	<key>四会市</key>
	<string>101280903</string>
	<key>兴宁市</key>
	<string>101280402</string>
	<key>陆丰市</key>
	<string>101282103</string>
	<key>阳春市</key>
	<string>101281802</string>
	<key>英德市</key>
	<string>101281307</string>
	<key>连州市</key>
	<string>101281303</string>
	<key>普宁市</key>
	<string>101281903</string>
	<key>罗定市</key>
	<string>101281402</string>
	<key>海口市</key>
	<string>101310101</string>
	<key>三亚市</key>
	<string>101310201</string>
	<key>琼海市</key>
	<string>101310211</string>
	<key>文昌市</key>
	<string>101310212</string>
	<key>万宁市</key>
	<string>101310215</string>
	<key>浏阳市</key>
	<string>101250103</string>
	<key>晋城市</key>
	<string>101100601</string>
	<key>西安市</key>
	<string>101110101</string>
	<key>金昌市</key>
	<string>101160601</string>
	<key>白银市</key>
	<string>101161301</string>
	<key>武威市</key>
	<string>101160501</string>
	<key>张掖市</key>
	<string>101160701</string>
	<key>南昌市</key>
	<string>101240101</string>
	<key>抚州市</key>
	<string>101240401</string>
	<key>台北市</key>
	<string>101340102</string>
	<key>台中市</key>
	<string>101340401</string>
	<key>高雄市</key>
	<string>101340201</string>
	<key>台南市</key>
	<string>101340301</string>
	<key>香港市</key>
	<string>101320101</string>
	<key>澳门市</key>
	<string>101330101</string>
	<key>新竹市</key>
	<string>101340602</string>
	<key>嘉义市</key>
	<string>101340901</string>
	<key>宜兰市</key>
	<string>101340701</string>
	<key>桃园市</key>
	<string>101340501</string>
	<key>宜春市</key>
	<string>101240501</string>
	<key>九江市</key>
	<string>101240201</string>
	<key>景德镇市</key>
	<string>101240801</string>
	<key>新余市</key>
	<string>101241001</string>
	<key>赣州市</key>
	<string>101240701</string>
	<key>吉安市</key>
	<string>101240601</string>
	<key>鹰潭市</key>
	<string>101241101</string>
	<key>上饶市</key>
	<string>101240301</string>
	<key>萍乡市</key>
	<string>101240901</string>
	<key>庆阳市</key>
	<string>101160401</string>
	<key>定西市</key>
	<string>101160201</string>
	<key>玉门市</key>
	<string>101160807</string>
	<key>敦煌市</key>
	<string>101160808</string>
	<key>临夏市</key>
	<string>101161101</string>
	<key>合作市</key>
	<string>101161201</string>
	<key>西宁市</key>
	<string>101150101</string>
	<key>格尔木市</key>
	<string>101150702</string>
	<key>德令哈市</key>
	<string>101150716</string>
	<key>咸阳市</key>
	<string>101110200</string>
	<key>铜川市</key>
	<string>101111001</string>
	<key>延安市</key>
	<string>101110300</string>
	<key>宝鸡市</key>
	<string>101110901</string>
	<key>渭南市</key>
	<string>101110501</string>
	<key>天水市</key>
	<string>101160901</string>
	<key>平凉市</key>
	<string>101160301</string>
	<key>酒泉市</key>
	<string>101160801</string>
	<key>汉中市</key>
	<string>101110801</string>
	<key>安康市</key>
	<string>101110701</string>
	<key>商洛市</key>
	<string>101110601</string>
	<key>榆林市</key>
	<string>101110401</string>
	<key>兴平市</key>
	<string>101110211</string>
	<key>韩城市</key>
	<string>101110510</string>
	<key>华阴市</key>
	<string>101110511</string>
	<key>兰州市</key>
	<string>101160101</string>
	<key>朔州市</key>
	<string>101100901</string>
	<key>晋中市</key>
	<string>101100401</string>
	<key>运城市</key>
	<string>101100801</string>
	<key>临汾市</key>
	<string>101100701</string>
	<key>吕梁市</key>
	<string>101101100</string>
	<key>潞城市</key>
	<string>101100504</string>
	<key>高平市</key>
	<string>101100605</string>
	<key>介休市</key>
	<string>101100412</string>
	<key>永济市</key>
	<string>101100810</string>
	<key>河津市</key>
	<string>101100805</string>
	<key>原平市</key>
	<string>101101015</string>
	<key>侯马市</key>
	<string>01100714</string>
	<key>霍州市</key>
	<string>101100711</string>
	<key>孝义市</key>
	<string>101101110</string>
	<key>汾阳市</key>
	<string>101101111</string>
	<key>武汉市</key>
	<string>101200101</string>
	<key>大冶市</key>
	<string>101200602</string>
	<key>丹江口市</key>
	<string>101201107</string>
	<key>洪湖市</key>
	<string>101200806</string>
	<key>石首市</key>
	<string>101200804</string>
	<key>巩义市</key>
	<string>101180102</string>
	<key>孟州市</key>
	<string>101181108</string>
	<key>禹州市</key>
	<string>101180405</string>
	<key>长葛市</key>
	<string>101180404</string>
	<key>灵宝市</key>
	<string>101181702</string>
	<key>邓州市</key>
	<string>101180711</string>
	<key>永城市</key>
	<string>101181009</string>
	<key>项城市</key>
	<string>101181407</string>
	<key>济源市</key>
	<string>101181801</string>
	<key>太原市</key>
	<string>101100101</string>
	<key>大同市</key>
	<string>101100201</string>
	<key>忻州市</key>
	<string>101101001</string>
	<key>阳泉市</key>
	<string>101100301</string>
	<key>长治市</key>
	<string>101100501</string>
	<key>新郑市</key>
	<string>101180106</string>
	<key>新密市</key>
	<string>101180105</string>
	<key>登封市</key>
	<string>101180104</string>
	<key>荥阳市</key>
	<string>101180103</string>
	<key>偃师市</key>
	<string>101180908</string>
	<key>汝州市</key>
	<string>101180504</string>
	<key>舞钢市</key>
	<string>101180506</string>
	<key>林州市</key>
	<string>101180205</string>
	<key>卫辉市</key>
	<string>101180305</string>
	<key>辉县市</key>
	<string>101180304</string>
	<key>沁阳市</key>
	<string>101181104</string>
	<key>安阳市</key>
	<string>101180201</string>
	<key>新乡市</key>
	<string>101180301</string>
	<key>周口市</key>
	<string>101181401</string>
	<key>三门峡市</key>
	<string>101181701</string>
	<key>焦作市</key>
	<string>101181101</string>
	<key>平顶山市</key>
	<string>101180501</string>
	<key>信阳市</key>
	<string>101180601</string>
	<key>南阳市</key>
	<string>101180701</string>
	<key>鹤壁市</key>
	<string>101181201</string>
	<key>濮阳市</key>
	<string>101181301</string>
	<key>许昌市</key>
	<string>101180401</string>
	<key>商丘市</key>
	<string>101181001</string>
	<key>驻马店市</key>
	<string>101181601</string>
	<key>赤壁市</key>
	<string>101200702</string>
	<key>广水市</key>
	<string>101201302</string>
	<key>仙桃市</key>
	<string>101201601</string>
	<key>天门市</key>
	<string>101201501</string>
	<key>潜江市</key>
	<string>101201701</string>
	<key>恩施市</key>
	<string>101201001</string>
	<key>利川市</key>
	<string>101201002</string>
	<key>郑州市</key>
	<string>101180101</string>
	<key>洛阳市</key>
	<string>101180901</string>
	<key>开封市</key>
	<string>101180801</string>
	<key>漯河市</key>
	<string>101181501</string>
	<key>松滋市</key>
	<string>101200807</string>
	<key>宜都市</key>
	<string>101200909</string>
	<key>当阳市</key>
	<string>101200907</string>
	<key>汉川市</key>
	<string>101200406</string>
	<key>麻城市</key>
	<string>101200503</string>
	<key>武穴市</key>
	<string>101200509</string>
	<key>应城市</key>
	<string>101200405</string>
	<key>安陆市</key>
	<string>101200402</string>
	<key>枝江市</key>
	<string>101200910</string>
	<key>老河口市</key>
	<string>101200206</string>
	<key>枣阳市</key>
	<string>101200208</string>
	<key>宜城市</key>
	<string>101200205</string>
	<key>钟祥市</key>
	<string>101201402</string>
	<key>襄樊市</key>
	<string>101200201</string>
	<key>宜昌市</key>
	<string>101200901</string>
	<key>黄石市</key>
	<string>101200601</string>
	<key>鄂州市</key>
	<string>101200301</string>
	<key>随州市</key>
	<string>101201301</string>
	<key>荆州市</key>
	<string>101200801</string>
	<key>荆门市</key>
	<string>101201401</string>
	<key>十堰市</key>
	<string>101201101</string>
	<key>孝感市</key>
	<string>101200401</string>
	<key>黄冈市</key>
	<string>101200501</string>
	<key>咸宁市</key>
	<string>101200701</string>
	<key>醴陵市</key>
	<string>101250303</string>
	<key>湘乡市</key>
	<string>101250203</string>
	<key>韶山市</key>
	<string>101250202</string>
	<key>耒阳市</key>
	<string>101250408</string>
	<key>常宁市</key>
	<string>101250406</string>
	<key>武冈市</key>
	<string>101250908</string>
	<key>临湘市</key>
	<string>101251006</string>
	<key>汨罗市</key>
	<string>101251004</string>
	<key>沅江市</key>
	<string>101250705</string>
	<key>吉首市</key>
	<string>101251501</string>
	<key>涟源市</key>
	<string>101250806</string>
	<key>资兴市</key>
	<string>101250507</string>
	<key>洪江市</key>
	<string>101251302</string>
	<key>冷水江市</key>
	<string>101250803</string>
	<key>五指山市</key>
	<string>101310222</string>
	<key>安宁市</key>
	<string>101290112</string>
	<key>宣威市</key>
	<string>101290409</string>
	<key>达州市</key>
	<string>101270601</string>
	<key>眉山市</key>
	<string>101271501</string>
	<key>宜宾市</key>
	<string>101271101</string>
	<key>雅安市</key>
	<string>101271701</string>
	<key>个旧市</key>
	<string>101290308</string>
	<key>资阳市</key>
	<string>101271301</string>
	<key>都江堰市</key>
	<string>101270111</string>
	<key>怀化市</key>
	<string>101251201</string>
	<key>常德市</key>
	<string>101250601</string>
	<key>益阳市</key>
	<string>101250700</string>
	<key>张家界市</key>
	<string>101251101</string>
	<key>娄底市</key>
	<string>101250801</string>
	<key>什邡市</key>
	<string>101272004</string>
	<key>邵阳市</key>
	<string>101250901</string>
	<key>西昌市</key>
	<string>101271610</string>
	<key>长沙市</key>
	<string>101250101</string>
	<key>株洲市</key>
	<string>101250301</string>
	<key>湘潭市</key>
	<string>101250201</string>
	<key>衡阳市</key>
	<string>101250401</string>
	<key>岳阳市</key>
	<string>101251001</string>
	<key>郴州市</key>
	<string>101250501</string>
	<key>永州市</key>
	<string>101251401</string>
	<key>绵竹市</key>
	<string>101272005</string>
	<key>江油市</key>
	<string>101270408</string>
	<key>峨眉山市</key>
	<string>101271409</string>
	<key>阆中市</key>
	<string>101270507</string>
	<key>华蓥市</key>
	<string>101270805</string>
	<key>万源市</key>
	<string>101270606</string>
	<key>简阳市</key>
	<string>101271304</string>
	<key>彭州市</key>
	<string>101270112</string>
	<key>邛崃市</key>
	<string>101270113</string>
	<key>崇州市</key>
	<string>101270114</string>
	<key>广汉市</key>
	<string>101272003</string>
	<key>兴义市</key>
	<string>101260906</string>
	<key>凯里市</key>
	<string>101260501</string>
	<key>都匀市</key>
	<string>101260401</string>
	<key>南充市</key>
	<string>101270501</string>
	<key>内江市</key>
	<string>101271201</string>
	<key>遂宁市</key>
	<string>101270701</string>
	<key>广安市</key>
	<string>101270801</string>
	<key>泸州市</key>
	<string>101271001</string>
	<key>福泉市</key>
	<string>101260405</string>
	<key>成都市</key>
	<string>101270101</string>
	<key>绵阳市</key>
	<string>101270401</string>
	<key>德阳市</key>
	<string>101272001</string>
	<key>广元市</key>
	<string>101272101</string>
	<key>自贡市</key>
	<string>101270301</string>
	<key>攀枝花市</key>
	<string>101270201</string>
	<key>乐山市</key>
	<string>101271401</string>
	<key>开远市</key>
	<string>101290307</string>
	<key>景洪市</key>
	<string>101291601</string>
	<key>楚雄市</key>
	<string>101290801</string>
	<key>大理市</key>
	<string>101290201</string>
	<key>潞西市</key>
	<string>101291508</string>
	<key>瑞丽市</key>
	<string>101291506</string>
	<key>清镇市</key>
	<string>101260108</string>
	<key>赤水市</key>
	<string>101260208</string>
	<key>仁怀市</key>
	<string>101260203</string>
	<key>铜仁市</key>
	<string>101260601</string>
	<key>毕节市</key>
	<string>101260701</string>
	<key>儋州市</key>
	<string>101310205</string>
	<key>东方市</key>
	<string>101310202</string>
	<key>昆明市</key>
	<string>101290101</string>
	<key>昭通市</key>
	<string>101291001</string>
	<key>丽江市</key>
	<string>101291401</string>
	<key>普洱市</key>
	<string>101290901</string>
	<key>临沧市</key>
	<string>101291101</string>
	<key>贵阳市</key>
	<string>101260101</string>
	<key>六盘水市</key>
	<string>101260801</string>
	<key>遵义市</key>
	<string>101260201</string>
	<key>安顺市</key>
	<string>101260301</string>
	<key>曲靖市</key>
	<string>101290401</string>
	<key>玉溪市</key>
	<string>101290701</string>
	<key>保山市</key>
	<string>101290501</string>
	<key>哈尔滨市</key>
	<string>101050101</string>
	<key>天津市</key>
	<string>101030100</string>
	<key>大庆市</key>
	<string>101050901</string>
	<key>齐齐哈尔市</key>
	<string>101050201</string>
	<key>长春市</key>
	<string>101060101</string>
	<key>杭州市</key>
	<string>101210101</string>
	<key>嘉兴市</key>
	<string>101210301</string>
	<key>福清市</key>
	<string>101230111</string>
	<key>长乐市</key>
	<string>101230110</string>
	<key>永安市</key>
	<string>101230810</string>
	<key>晋江市</key>
	<string>101230509</string>
	<key>南安市</key>
	<string>101230506</string>
	<key>龙海市</key>
	<string>101230605</string>
	<key>邵武市</key>
	<string>101230904</string>
	<key>武夷山市</key>
	<string>101230905</string>
	<key>建瓯市</key>
	<string>101230910</string>
	<key>建阳市</key>
	<string>101230907</string>
	<key>漳平市</key>
	<string>101230707</string>
	<key>福安市</key>
	<string>101230306</string>
	<key>福鼎市</key>
	<string>101230308</string>
	<key>湖州市</key>
	<string>101210201</string>
	<key>永康市</key>
	<string>101210907</string>
	<key>江山市</key>
	<string>101211005</string>
	<key>温岭市</key>
	<string>101210607</string>
	<key>龙泉市</key>
	<string>101210803</string>
	<key>福州市</key>
	<string>101230101</string>
	<key>厦门市</key>
	<string>101230201</string>
	<key>泉州市</key>
	<string>101230501</string>
	<key>三明市</key>
	<string>101230801</string>
	<key>南平市</key>
	<string>101230901</string>
	<key>漳州市</key>
	<string>101230601</string>
	<key>莆田市</key>
	<string>101230401</string>
	<key>宁德市</key>
	<string>101230301</string>
	<key>龙岩市</key>
	<string>101230701</string>
	<key>宁波市</key>
	<string>101210401</string>
	<key>乐清市</key>
	<string>101210707</string>
	<key>海宁市</key>
	<string>101210303</string>
	<key>平湖市</key>
	<string>101210305</string>
	<key>桐乡市</key>
	<string>101210304</string>
	<key>诸暨市</key>
	<string>101210502</string>
	<key>上虞市</key>
	<string>101210503</string>
	<key>嵊州市</key>
	<string>101210505</string>
	<key>兰溪市</key>
	<string>101210903</string>
	<key>义乌市</key>
	<string>101210904</string>
	<key>东阳市</key>
	<string>101210905</string>
	<key>金华市</key>
	<string>101210901</string>
	<key>温州市</key>
	<string>101210701</string>
	<key>丽水市</key>
	<string>101210801</string>
	<key>绍兴市</key>
	<string>101210501</string>
	<key>衢州市</key>
	<string>101211001</string>
	<key>舟山市</key>
	<string>101211101</string>
	<key>台州市</key>
	<string>101210601</string>
	<key>建德市</key>
	<string>101210105</string>
	<key>富阳市</key>
	<string>101210108</string>
	<key>临安市</key>
	<string>101210107</string>
	<key>瑞安市</key>
	<string>101210705</string>
	<key>慈溪市</key>
	<string>101210403</string>
	<key>奉化市</key>
	<string>101210405</string>
	<key>余姚市</key>
	<string>101210404</string>
	<key>石家庄市</key>
	<string>101090101</string>
	<key>唐山市</key>
	<string>101090501</string>
	<key>邯郸市</key>
	<string>101091001</string>
	<key>秦皇岛市</key>
	<string>101091101</string>
	<key>章丘市</key>
	<string>101120104</string>
	<key>泰兴市</key>
	<string>101191203</string>
	<key>姜堰市</key>
	<string>101191204</string>
	<key>靖江市</key>
	<string>101191205</string>
	<key>安庆市</key>
	<string>101220601</string>
	<key>铜陵市</key>
	<string>101221301</string>
	<key>界首市</key>
	<string>101220805</string>
	<key>天长市</key>
	<string>101221107</string>
	<key>明光市</key>
	<string>101221103</string>
	<key>桐城市</key>
	<string>101220609</string>
	<key>宁国市</key>
	<string>101221404</string>
	<key>巢湖市</key>
	<string>101221601</string>
	<key>兴化市</key>
	<string>101191202</string>
	<key>马鞍山市</key>
	<string>101220501</string>
	<key>宣城市</key>
	<string>101221401</string>
	<key>黄山市</key>
	<string>101170305</string>
	<key>池州市</key>
	<string>101221701</string>
	<key>合肥市</key>
	<string>101220101</string>
	<key>蚌埠市</key>
	<string>101220201</string>
	<key>芜湖市</key>
	<string>101220301</string>
	<key>淮南市</key>
	<string>101220401</string>
	<key>亳州市</key>
	<string>101220901</string>
	<key>阜阳市</key>
	<string>101220801</string>
	<key>淮北市</key>
	<string>101221201</string>
	<key>宿州市</key>
	<string>101220701</string>
	<key>滁州市</key>
	<string>101221101</string>
	<key>通州市</key>
	<string>101190509</string>
	<key>海门市</key>
	<string>101190508</string>
	<key>启东市</key>
	<string>101190507</string>
	<key>东台市</key>
	<string>101190707</string>
	<key>大丰市</key>
	<string>101190708</string>
	<key>高邮市</key>
	<string>101190604</string>
	<key>江都市</key>
	<string>101190605</string>
	<key>仪征市</key>
	<string>101190603</string>
	<key>丹阳市</key>
	<string>101190302</string>
	<key>扬中市</key>
	<string>101190303</string>
	<key>句容市</key>
	<string>101190304</string>
	<key>胶南市</key>
	<string>101120206</string>
	<key>胶州市</key>
	<string>101120205</string>
	<key>淮安市</key>
	<string>101190901</string>
	<key>盐城市</key>
	<string>101190701</string>
	<key>溧阳市</key>
	<string>101191102</string>
	<key>常熟市</key>
	<string>101190402</string>
	<key>张家港市</key>
	<string>101190403</string>
	<key>如皋市</key>
	<string>101190503</string>
	<key>太仓市</key>
	<string>101190408</string>
	<key>吴江市</key>
	<string>101190407</string>
	<key>昆山市</key>
	<string>101190404</string>
	<key>扬州市</key>
	<string>101190601</string>
	<key>泰州市</key>
	<string>101191201</string>
	<key>南通市</key>
	<string>101190501</string>
	<key>宿迁市</key>
	<string>101191301</string>
	<key>江阴市</key>
	<string>101190202</string>
	<key>宜兴市</key>
	<string>101190203</string>
	<key>邳州市</key>
	<string>101190805</string>
	<key>新沂市</key>
	<string>101190807</string>
	<key>金坛市</key>
	<string>101191103</string>
	<key>禹城市</key>
	<string>101120411</string>
	<key>无锡市</key>
	<string>101190201</string>
	<key>苏州市</key>
	<string>101190401</string>
	<key>徐州市</key>
	<string>101190801</string>
	<key>连云港市</key>
	<string>101191001</string>
	<key>南京市</key>
	<string>101190101</string>
	<key>镇江市</key>
	<string>101190301</string>
	<key>常州市</key>
	<string>101191101</string>
	<key>平度市</key>
	<string>101120208</string>
	<key>莱西市</key>
	<string>101120207</string>
	<key>即墨市</key>
	<string>101120204</string>
	<key>海阳市</key>
	<string>101120511</string>
	<key>乳山市</key>
	<string>101121304</string>
	<key>临清市</key>
	<string>101121707</string>
	<key>文登市</key>
	<string>101121302</string>
	<key>荣成市</key>
	<string>101121303</string>
	<key>乐陵市</key>
	<string>101120406</string>
	<key>安丘市</key>
	<string>101120607</string>
	<key>高密市</key>
	<string>101120608</string>
	<key>昌邑市</key>
	<string>101120606</string>
	<key>兖州市</key>
	<string>101120705</string>
	<key>曲阜市</key>
	<string>101120710</string>
	<key>邹城市</key>
	<string>101120711</string>
	<key>青州市</key>
	<string>101120602</string>
	<key>诸城市</key>
	<string>101120609</string>
	<key>蓬莱市</key>
	<string>101120504</string>
	<key>栖霞市</key>
	<string>101120507</string>
	<key>滕州市</key>
	<string>101121405</string>
	<key>招远市</key>
	<string>101120506</string>
	<key>龙口市</key>
	<string>101120505</string>
	<key>莱阳市</key>
	<string>101120510</string>
	<key>莱州市</key>
	<string>101120502</string>
	<key>保定市</key>
	<string>101090201</string>
	<key>涿州市</key>
	<string>101090218</string>
	<key>定州市</key>
	<string>101090219</string>
	<key>威海市</key>
	<string>101121301</string>
	<key>日照市</key>
	<string>101121501</string>
	<key>莱芜市</key>
	<string>101121601</string>
	<key>临沂市</key>
	<string>101120901</string>
	<key>德州市</key>
	<string>101120401</string>
	<key>聊城市</key>
	<string>101121701</string>
	<key>菏泽市</key>
	<string>101121001</string>
	<key>滨州市</key>
	<string>101121101</string>
	<key>青岛市</key>
	<string>101120201</string>
	<key>淄博市</key>
	<string>101120301</string>
	<key>枣庄市</key>
	<string>101121401</string>
	<key>东营市</key>
	<string>101121201</string>
	<key>烟台市</key>
	<string>101120501</string>
	<key>潍坊市</key>
	<string>101120601</string>
	<key>济宁市</key>
	<string>101120701</string>
	<key>泰安市</key>
	<string>101120801</string>
	<key>安国市</key>
	<string>101090220</string>
	<key>高碑店市</key>
	<string>101090221</string>
	<key>泊头市</key>
	<string>101090711</string>
	<key>任丘市</key>
	<string>101090712</string>
	<key>济南市</key>
	<string>101120101</string>
	<key>黄骅市</key>
	<string>101090713</string>
	<key>河间市</key>
	<string>101090714</string>
	<key>霸州市</key>
	<string>101090608</string>
	<key>三河市</key>
	<string>101090609</string>
	<key>冀州市</key>
	<string>101090810</string>
	<key>深州市</key>
	<string>101090811</string>
	<key>衡水市</key>
	<string>101090801</string>
	<key>邢台市</key>
	<string>101090901</string>
	<key>辛集市</key>
	<string>101090114</string>
	<key>藁城市</key>
	<string>101090115</string>
	<key>新乐市</key>
	<string>101090117</string>
	<key>遵化市</key>
	<string>101090510</string>
	<key>迁安市</key>
	<string>101090511</string>
	<key>武安市</key>
	<string>101091016</string>
	<key>南宫市</key>
	<string>101090916</string>
	<key>沙河市</key>
	<string>101090917</string>
	<key>张家口市</key>
	<string>101090301</string>
	<key>承德市</key>
	<string>101090402</string>
	<key>廊坊市</key>
	<string>101090601</string>
	<key>沧州市</key>
	<string>101090701</string>
	<key>吉林市</key>
	<string>101060201</string>
	<key>四平市</key>
	<string>101060401</string>
	<key>海城市</key>
	<string>101070304</string>
	<key>东港市</key>
	<string>101070604</string>
	<key>凤城市</key>
	<string>101070602</string>
	<key>北票市</key>
	<string>101071205</string>
	<key>凌海市</key>
	<string>101070702</string>
	<key>北镇市</key>
	<string>101070706</string>
	<key>大石桥市</key>
	<string>101070802</string>
	<key>盖州市</key>
	<string>101070803</string>
	<key>兴城市</key>
	<string>101071404</string>
	<key>灯塔市</key>
	<string>101071003</string>
	<key>开原市</key>
	<string>101071102</string>
	<key>凌源市</key>
	<string>101071203</string>
	<key>辽源市</key>
	<string>101060701</string>
	<key>临江市</key>
	<string>101060903</string>
	<key>大安市</key>
	<string>101060603</string>
	<key>洮南市</key>
	<string>101060602</string>
	<key>延吉市</key>
	<string>101060301</string>
	<key>抚顺市</key>
	<string>101070401</string>
	<key>本溪市</key>
	<string>101070501</string>
	<key>普兰市</key>
	<string>101070204</string>
	<key>庄河市</key>
	<string>101070207</string>
	<key>丹东市</key>
	<string>101070601</string>
	<key>锦州市</key>
	<string>101070701</string>
	<key>营口市</key>
	<string>101070801</string>
	<key>朝阳市</key>
	<string>101071201</string>
	<key>葫芦岛市</key>
	<string>101071401</string>
	<key>新民市</key>
	<string>101070106</string>
	<key>瓦房店市</key>
	<string>101070202</string>
	<key>阜新市</key>
	<string>101070901</string>
	<key>辽阳市</key>
	<string>101071001</string>
	<key>盘锦市</key>
	<string>101071301</string>
	<key>铁岭市</key>
	<string>101071101</string>
	<key>图们市</key>
	<string>101060309</string>
	<key>敦化市</key>
	<string>101060302</string>
	<key>龙井市</key>
	<string>101060307</string>
	<key>珲春市</key>
	<string>101060308</string>
	<key>和龙市</key>
	<string>101060305</string>
	<key>沈阳市</key>
	<string>101070101</string>
	<key>大连市</key>
	<string>101070201</string>
	<key>鞍山市</key>
	<string>101070301</string>
	<key>通化市</key>
	<string>101060501</string>
	<key>白山市</key>
	<string>101060901</string>
	<key>松原市</key>
	<string>101060801</string>
	<key>白城市</key>
	<string>101060601</string>
	<key>九台市</key>
	<string>101060104</string>
	<key>榆树市</key>
	<string>101060105</string>
	<key>德惠市</key>
	<string>101060103</string>
	<key>舒兰市</key>
	<string>101060202</string>
	<key>桦甸市</key>
	<string>101060206</string>
	<key>蛟河市</key>
	<string>101060204</string>
	<key>磐石市</key>
	<string>101060205</string>
	<key>公主岭市</key>
	<string>101060404</string>
	<key>双辽市</key>
	<string>101060402</string>
	<key>梅河口市</key>
	<string>101060502</string>
	<key>集安市</key>
	<string>101060505</string>
	<key>佳木斯市</key>
	<string>101050401</string>
	<key>鸡西市</key>
	<string>101051101</string>
	<key>鹤岗市</key>
	<string>101051201</string>
	<key>双鸭山市</key>
	<string>101051301</string>
	<key>牡丹江市</key>
	<string>101050301</string>
	<key>伊春市</key>
	<string>101050801</string>
	<key>七台河市</key>
	<string>101051002</string>
	<key>黑河市</key>
	<string>101050601</string>
	<key>绥化市</key>
	<string>101050501</string>
	<key>五常市</key>
	<string>101050112</string>
	<key>双城市</key>
	<string>101050102</string>
	<key>尚志市</key>
	<string>101050111</string>
	<key>上海市</key>
	<string>101020100</string>
	<key>虎林市</key>
	<string>101051102</string>
	<key>密山市</key>
	<string>101051103</string>
	<key>铁力市</key>
	<string>101050804</string>
	<key>同江市</key>
	<string>101050406</string>
	<key>富锦市</key>
	<string>101050407</string>
	<key>绥芬河市</key>
	<string>101050305</string>
	<key>海林市</key>
	<string>101050302</string>
	<key>宁安市</key>
	<string>101050306</string>
	<key>北安市</key>
	<string>101050606</string>
	<key>五大连池市</key>
	<string>101050605</string>
	<key>肇东市</key>
	<string>101050502</string>
	<key>海伦市</key>
	<string>101050504</string>
	<key>安达市</key>
	<string>101050503</string>
	<key>重庆市</key>
	<string>101040100</string>
	<key>乌鲁木齐市</key>
	<string>101130101</string>
	<key>克拉玛依市</key>
	<string>101130201</string>
	<key>石河子市</key>
	<string>101130301</string>
	<key>阿拉尔市</key>
	<string>101130701</string>
	<key>哈密市</key>
	<string>101131201</string>
	<key>吐鲁番市</key>
	<string>101130501</string>
	<key>阿克苏市</key>
	<string>101130801</string>
	<key>喀什市</key>
	<string>101130901</string>
	<key>和田市</key>
	<string>101131301</string>
	<key>伊宁市</key>
	<string>101131001</string>
	<key>塔城市</key>
	<string>101131101</string>
	<key>阿勒泰市</key>
	<string>101131401</string>
	<key>博乐市</key>
	<string>101131601</string>
	<key>昌吉市</key>
	<string>101130401</string>
	<key>阜康市</key>
	<string>101130404</string>
	<key>库尔勒市</key>
	<string>101130601</string>
	<key>阿图什市</key>
	<string>101131501</string>
	<key>拉萨市</key>
	<string>101140101</string>
	<key>日喀则市</key>
	<string>101140201</string>
	<key>银川市</key>
	<string>101170101</string>
	<key>石嘴山市</key>
	<string>101170201</string>
	<key>吴忠市</key>
	<string>101170301</string>
	<key>固原市</key>
	<string>101170401</string>
	<key>中卫市</key>
	<string>101170501</string>
	<key>青铜峡市</key>
	<string>101170306</string>
	<key>灵武市</key>
	<string>101170103</string>
	<key>呼和浩特市</key>
	<string>101080101</string>
	<key>包头市</key>
	<string>101080201</string>
	<key>乌海市</key>
	<string>101080301</string>
	<key>赤峰市</key>
	<string>101080601</string>
	<key>通辽市</key>
	<string>101080501</string>
	<key>鄂尔多斯市</key>
	<string>101080701</string>
	<key>呼伦贝尔市</key>
	<string>101081000</string>
	<key>霍林郭勒市</key>
	<string>101081108</string>
	<key>满洲里市</key>
	<string>101081010</string>
	<key>牙克石市</key>
	<string>101081011</string>
	<key>扎兰屯市</key>
	<string>101081012</string>
	<key>根河市</key>
	<string>101081015</string>
	<key>额尔古纳市</key>
	<string>101081014</string>
	<key>丰镇市</key>
	<string>101080412</string>
	<key>锡林浩特市</key>
	<string>101080901</string>
	<key>二连浩特市</key>
	<string>101080903</string>
	<key>乌兰浩特市</key>
	<string>101081101</string>
	<key>阿尔山市</key>
	<string>101081102</string>
	<key>南宁市</key>
	<string>101300101</string>
	<key>柳州市</key>
	<string>101300301</string>
	<key>桂林市</key>
	<string>101300501</string>
	<key>梧州市</key>
	<string>101300601</string>
	<key>北海市</key>
	<string>101301301</string>
	<key>崇左市</key>
	<string>101300201</string>
	<key>来宾市</key>
	<string>101300401</string>
	<key>贺州市</key>
	<string>101300701</string>
	<key>百色市</key>
	<string>101301001</string>
	<key>河池市</key>
	<string>101301201</string>
	<key>钦州市</key>
	<string>101301101</string>
	<key>防城港市</key>
	<string>101301401</string>
	<key>贵港市</key>
	<string>101300801</string>
	<key>岑溪市</key>
	<string>101300606</string>
	<key>凭祥市</key>
	<string>101300204</string>
	<key>北流市</key>
	<string>101300903</string>
	<key>宜州市</key>
	<string>101301207</string>
	<key>东兴市</key>
	<string>101301403</string>
	<key>玉林市</key>
	<string>101300901</string>
</dict>
</plist>
